@import "node_modules/hapi-govuk-frontend/application.scss";
@import "tasklist.scss";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.govuk-grid-column-two-thirds {
  min-width: min-content;
}

.govuk-radios__label {
  width: 100%;

  .permit-label {
    min-height: 50px;

    .govuk-radios-label {
      display: block;
      max-width: 66%;
    }

    .govuk-radios-ref {
      float: right;
      display: block;
      min-width: 33%;
      text-align: right;
    }
  }
}

.govuk-radios__hint {
  max-width: 66%;
}

.govuk-login-enabled-container {
  position: relative;

  .govuk-login-enabled {
    position: absolute;
    top: -3em;
    right: 0;
    padding: 0.5em;

    a {
      color: white;
    }
  }
}

.defra-aside-content {
  border-top: 10px solid $govuk-brand-colour;
  padding-top: 10px;

  .defra-description-list {
    font-size: 1rem !important;
    line-height: 1.25 !important;

    .defra-description-list-term,
    .defra-description-list-definition {
      margin-inline-start: 0;
      margin-bottom: 0.5rem;
      .govuk-body {
        margin-bottom: 0.5rem;
      }
      .govuk-body,
      .govuk-hint {
        font-size: inherit !important;
        line-height: inherit !important;
      }
    }
    .defra-description-list-term {
      margin-top: 1rem;
    }
  }
}

.defra-dev-errors {
  border: 10px double darkred;
  background: navajowhite;
  color: darkred;
  pre {
    padding: 10px;
    margin: 0;
  }
}