@import "node_modules/hapi-govuk-frontend/application.scss";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.govuk-radios__label {
  width: 100%;
  .permit-label {
    min-height: 50px;

    .govuk-radios-label {
      display: block;
      max-width: 66%;
    }

    .govuk-radios-ref {
      float: right;
      display: block;
      min-width: 33%;
      text-align: right;
    }
  }
}
.govuk-radios__hint {
  max-width: 66%;
}

.govuk-login-enabled-container {
  position: relative;

  .govuk-login-enabled {
    position: absolute;
    top: -3em;
    right: 0;
    padding: 0.5em;

    a {
      color: white;
    }
  }
}