{% extends 'radio-group-layout.njk' %}

{% block formContentFooter %}
  <div class="govuk-form-group">
    <p class="govuk-body"><span id="helpline-text">Not sure? Call our helpline on</span> <a id="helpline-number" href="tel:+443708506506">03708 506 506.</a></p>
  </div>
{% endblock %}