{% extends 'form-layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
  <ul class="govuk-list--number app-task-list">
    {% for section in value.answers %}
    <li>
      <h2 class="govuk-heading-m app-task-list__section">{{ section.heading }}</h2>
      {{ govukSummaryList({
        rows: section.rows
      }) }}
    </li>
    {% endfor %}
  </ul>

  {{ govukWarningText({
    text: "You can be prosecuted and fined if you give false or misleading information.",
    iconFallbackText: "Warning"
  }) }}

  {{ value.confirmationStatement | safe }}

  {{ govukInsetText({
    text: "If you want a copy of your application, print this page now.  You will not get a copy after you submit"
  }) }}

{% endblock %}

{% block asideContent %}
  {% include "aside-content.njk" %}
{% endblock %}

{% block continueButton %}
  <button type="submit" class="govuk-button">Accept and pay</button>
{% endblock %}