{% extends 'layouts/standard-layout.njk' %}

{% from "input/macro.njk" import govukInput %}

{% block formContent %}
  <a id="change-selection-link" class="govuk-body govuk-link" href="{{ viewData.changeSelectionLink }}" onclick="window.history.go(-1); return false;">Change your selection</a>
  <h2 class="govuk-heading-m">How to apply</h2>
  <p class="govuk-body">Read the guidance about <a class="govuk-link" href="{{ viewData.guidance }}">{{ viewData.label }}</a></p>
{% endblock %}

{# Overwrite this block to remove the continue button #}
{% block continueButton %}{% endblock %}