{% extends 'layouts/standard-layout.njk' %}

{% from "input/macro.njk" import govukInput %}

{# Overwrite this block to set the different button text #}
{% block continueButton %}
  {{ govukButton({
    text: "Login"
  }) }}
{% endblock %}