{% extends 'radio-group-layout.njk' %}

{% block formContentFooter %}
  <p class="govuk-body">
    When you apply for a permit you will need to give us some personal data such as your email address or date of birth.<br>
    <a id="hint-link" class="govuk-link" href="/information/privacy" target="_blank" rel="noopener noreferrer">Privacy: how we use your personal information (opens new tab)</a>
  </p>
{% endblock %}